@import 'nib'
@import 'util'

*, *:before, *:after
  box-sizing: border-box

FONT_COLOR = #444
LIGHT_FONT_COLOR = #777

a, input, button
  -webkit-app-region: no-drag !important
  color: FONT_COLOR

body
  color: FONT_COLOR
  font-size: 11px
  margin: 0

header, .overallStats, footer
  -webkit-app-region: drag
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5)
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.75)
  width: 100%

header
  background: linear-gradient(top, 20% #F0F0F0, #B0B0B0)
  height: 60px

  .system
    left: 0
    position: absolute
    top: 0
    padding: 5px
    z-index: 20
    i
      -webkit-app-region: no-drag
      margin-left: 4px

    :not(.fa-circle)
      display: none
    &:hover
      .fa-circle
        display: none
      :not(.fa-circle)
        display: inline-block
    .close
      color: rgb(195, 0, 4)
    .minimize
      color: rgb(241, 175, 68)
    .maximize
      color: rgb(67, 142, 12)

  .title
    font-size: 13px
    left: 0
    position: absolute
    right: 0
    text-align: center
    top: 3px
    z-index: 10

  .buttons
    padding-top: 30px

toolbar()
  background: linear-gradient(top, 20% #D0D0D0, #A2A2A2)
  border-top: 1px solid #666
  height: 24px
  padding: 4px 12px

.overallStats
  toolbar()
  border-bottom: 1px solid #666
  i
    margin-right: 6px
    position: relative
    top: 1px
    vertical-align: baseline
  .ratio
    float: left
  .upload, .download
    float: right
    margin-left: 20px

footer
  toolbar()
  position: absolute
  bottom: 0
  .numTransfers
    left: 0
    position: absolute
    right: 0
    text-align: center
    z-index: 10
  .issue
    position: absolute
    right: 12px
    z-index: 20
    i
      margin-right: 4px

@keyframes animate-stripes
  100%
    background-position: -40px 0

main
  height: 100%

  .torrent
    height: 65px
    padding: 4px 10px
    width: 100%
    &:nth-child(odd)
      background-color: #FFF
    &:nth-child(even)
      background-color: #E5F0FA
    .image
      float: left
      height: 57px
      margin-right: 5px
      position: relative
      width: 50px
      img
        bottom: 0
        left: 0
        margin: auto
        position: absolute
        right: 0
        top: 0
        max-width: 50px
        max-height: 40px
    .info
      margin-left: 55px
      .title
        color: #000
        font-size: 13px
      .stats, .stats2
        font-size: 9px
        color: LIGHT_FONT_COLOR

progress[value]
  appearance: none
  border-radius: 3px
  border: none
  height: 15px
  margin: 2px 0
  position: relative
  width: 100%
progress[value]::-webkit-progress-bar
  background-color: #DDD
  border-radius: 3px
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset
progress[value]::-webkit-progress-value
  position: relative
  background-size: 40px 15px, 100% 100%, 100% 100%
  border-radius: 3px
  animation: animate-stripes 2s linear infinite
::-webkit-progress-value
  background-image: linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.2)),
    linear-gradient(left, #09c, #0BF)

