<section class="torrent" id="torrentXX">
  <!--
    <div v-show="!metadata">
      Getting metadata from peers...
    </div>
  -->
  <div class="image">
    <img src="img/folder.png">
  </div>
  <div class="info">
    <div class="title">{{ title }}</div>
    <div class="stats">
        {{humanizeFilesize swarm.downloaded }}, uploaded {{humanizeFilesize swarm.uploaded }} (Ratio: {{ swarm.ratio }})
    </div>
    <progress max="100" value="70"></progress>
    <div class="stats2">Seeding to 0 of 0 peers - UL: 0.0 KB/s</div>
  </div>
</section>