<section class="torrent">
  <div class="left">
    <img class="image" src="img/folder.png">
  </div>
  <div class="right">
    <div class="title"></div>
    <div class="stats">
      <span class="if-metadata">
        <span class="downloaded"></span>, uploaded <span class="uploaded"></span> (Ratio: <span class="ratio"></span>)
      </span>
      <span class="if-no-metadata">
        Getting metadata from peers...
      </span>
    </div>
    <progress max="1" value="0"></progress>
    <div class="stats2">
      Downloading from <span class="numActivePeers"></span> of <span class="numPeers"></span> peers - DL: <span class="downloadSpeed"></span>/s UL: <span class="uploadSpeed"></span>/s
    </div>
  </div>
</section>