doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-requests')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body(class=locals.cls || '')
    block body
    script(src='/bundle.js')
